<div class="d-flex flex-row">
    <a 
        class="list-group-item list-group-item-action shadow-sm p-2 mb-5"
        style="pointer-events: none; border: 0px; ">


        <a class="container" style="width: 5cm;">
            <div class="card" style="width: 14rem;">
                <img src="{{ kviz.imagePath }}" class="card-img-top" alt="{{ kviz.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ kviz.name }}</h5>
                        <p class="card-text">{{ kviz.description }}</p>
                    </div>
            </div>
        </a>
    </a>
</div>




