<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            
        <a
            style="cursor: pointer;"
            routerLinkActive="true"
            routerLink="/u-trendu">
           
            <div class="container list-group-item" style="border: 0px;">
                <div class="row">
                    <div class="col">
                        <h3 class="col-md-5" 
                            style="pointer-events: none; color: black"
                            >Kvizovi u trendu</h3>
                        <hr>
                        <div class="row" style="margin-left: 20px;">
                                <app-kviz-item 
                                *ngFor="let kvizItem of kvizovi; let i = index"
                                [kviz]="kvizItem"
                                [index]="i"></app-kviz-item>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="p-2 flex-fill bd-highlight">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">

                <a
                style="cursor: pointer;"
                routerLinkActive="true"
                routerLink="/moji-kvizovi">

                <div class="container list-group-item" style="border: 0px; ">
                        <div class="row">
                            <div class="col">
                                <h3 class="col-md-5" 
                                    style="pointer-events: none; color: black"
                                    >Moji kvizovi</h3>
                                <hr>
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="p-2 flex-fill bd-highlight">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">

            <a
            style="cursor: pointer;"
            routerLinkActive="true"
            routerLink="/rijeseni-kvizovi">

            <div class="container list-group-item" style="border: 0px; ">
                    <div class="row">
                        <div class="col">
                            <h3 class="col-md-5" 
                                style="pointer-events: none; color: black"
                                >Rijeseni kvizovi</h3>
                            <hr>
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


