<ng-template [ngIf]="allKviz?.length > 0" [ngIfElse]="noSolved">
    <div class="row">
        <div class="col kontenjer" style="margin-bottom: 70px; margin-left: 10px;">
            <app-kviz-list-expanded
            *ngFor="let kvizItem of allKviz; let i = index"
                [kviz]="kvizItem"
                [index]="kvizItem.id"></app-kviz-list-expanded>
        </div>
    <div class="col kontenjer">
        <router-outlet></router-outlet>
    </div>
    </div>
</ng-template>
  
<ng-template #noSolved>
    <h2 class="ml-4 mt-2">Niste riješili niti jedan kviz.</h2>
</ng-template>
